<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.co.ashtonbrsc.emailtoself">

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" >
    </uses-feature>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_COMPONENT_ENABLED_STATE" />

    <application
        android:finishOnTaskLaunch="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:allowBackup="true">
        <activity
            android:name=".EmailToSelf"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:theme="@style/AppTranslucentTheme" >

            <intent-filter android:label="Email To Self" >
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter >
                <action android:name="com.google.android.gm.action.AUTO_SEND"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
                <data android:mimeType="*/*"></data>
            </intent-filter>
        </activity>
        <activity
            android:name=".EditPreferences"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name_preferences"
            android:launchMode="singleTask"
            android:taskAffinity="uk.co.ashtonbrsc.emailtoself.EditPreferences"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".QuickEmailToSelf"
            android:configChanges="keyboardHidden|orientation"
            android:enabled="true"
            android:label="Email Note To Self"
            android:launchMode="singleTask"
            android:taskAffinity="uk.co.ashtonbrsc.emailtoself.QuickEmailToSelf"
            android:theme="@style/AppTranslucentTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreateShortcut"
            android:configChanges="keyboardHidden|orientation"
            android:label="Email To Self"
            android:taskAffinity="uk.co.ashtonbrsc.emailtoself.CreateShortcut" >
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name=".FakeBrowser"
            android:enabled="false"
            android:label="Email URL To Self"
            android:targetActivity=".EmailToSelf" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="about" />
                <data android:scheme="javascript" />
            </intent-filter>
            <!--
For these schemes where any of these particular MIME types
have been supplied, we are a good candidate.
            -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="inline" />
                <data android:mimeType="text/html" />
                <data android:mimeType="text/plain" />
                <data android:mimeType="application/xhtml+xml" />
                <data android:mimeType="application/vnd.wap.xhtml+xml" />
            </intent-filter>
        </activity-alias>
    </application>

</manifest>
